@model CustomerListViewModel

@{
    ViewData["Title"] = "Покупатели";
    int num = 1;
}

<div class="row mb-2 mt-2 gx-2 col-xl-6">
    <div class="col-auto">
        <h2>@ViewData["Title"]</h2>
    </div>


    <div class="col-auto mt-1">
        <a class="btn btn-outline-primary" style="width: 100%;" asp-action="Save">Добавить</a>
    </div>
    
</div>
<hr />

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>№</th>
            <th>Логин</th>
            <th>Пароль</th>
            <th>Возраст</th>
            <th>Почта</th>
            <th>Телефон</th>
            <th colspan="2">Операции</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td class="col-1">@(num++)</td>
                <td class="col-2">@customer.Login</td>
                <td class="col-2">@customer.Password</td>
                <td class="col-1">@customer.Profile!.Age</td>
                <td class="col-2">@customer.Profile!.Email</td>
                <td class="col-2">@customer.Profile!.Phone</td>
                <td class="col-1">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-outline-primary" asp-action="Save" asp-route-id="@customer.Id">Изменить</a>
                    </div>
                </td>
                <td class="col-1">
                    <div class="d-flex justify-content-center">
                        <form asp-action="Delete" method="post" asp-route-id="@customer.Id">
                            <input type="submit" class="btn btn-outline-danger" value="Удалить" />
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

