@model ProductListViewModel
@inject IShopService shopService

@{
    ViewData["Title"] = "Товары";
    int num = 1;

    var response = await shopService.GetByIdAsync(Model.ShopId);
    string shopName = response.StatusCode switch
    {
        HttpStatusCode.OK => $"\"{response.Data!.Name}\"",
        _ => ""
    };
}

<h2>Список товаров магазина @shopName</h2>


<table border="1">
    <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Стоимость</th>
            <th>Категория</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@(num++)</td>
                <td>@product.Name</td>
                <td><textarea readonly>@product.Description</textarea></td>
                <td>@product.Price</td>
                <td>@product.Category.GetDisplayName()</td>

                <td>
                    <form asp-action="Save">
                        <input type="hidden" name="id" value="@product.Id" />
                        <input type="submit" value="Изменить" />
                    </form>
                </td>
                <td>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@product.Id" />
                        <input type="hidden" name="shopId" value="@Model.ShopId" />
                        <input type="submit" value="Удалить" />
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>


<div style="margin: 10px 0px;">
    <form asp-action="Save">
        <input type="hidden" name="shopId" value="@Model.ShopId" />
        <input type="submit" value="Добавить товар" />
    </form>
</div>

<p>
    <a asp-controller="Shop" asp-action="Index">Назад</a>
</p>

