@model Product
@inject SaveHelper saveHelper
@inject IProductService productService

@{
    var title = SaveHelper.IsEdit(Model) ? "Изменение товара" : "Добавление товара";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<form asp-action="SaveProduct">
    <div>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <p>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </p>
        <p>
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </p>
        <p>
            <label asp-for="Price"></label>
            <input asp-for="Price" />
        </p>
        <p>
            <label asp-for="Category"></label>
            <select asp-for="Category" asp-items="@productService.GetCategories().Data"></select>
        </p>
        <input type="hidden" asp-for="ShopId" value="@Model.ShopId">

        <p>
            <input type="submit" value="OK" />
        </p>
    </div>
</form>

<form asp-action="Index">
    <input type="hidden" name="shopId" value="@Model.ShopId" />
    <input type="submit" value="Cancel" />
</form>

<div asp-validation-summary="All"></div>