@model Product

@{
    ViewData["Title"] = "Детали";

    var productImageSrc = string.Empty;
    if (Model.Photo != null && Model.Photo.Length > 0)
        productImageSrc = @$"data:image/jpeg;base64,{Convert.ToBase64String(Model.Photo)}";
    else
        productImageSrc = @"/images/NoPhoto.png";

}


<div class="card mt-4">
    <div class="row g-0">
        <div class="col-md-3">
            @if (Model.Photo != null && Model.Photo.Length > 0)
            {
                <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.Photo)}")" class="card-img" />
            }
            else
            {
                <img src="@("/images/NoPhoto.png")" class="card-img" style="padding: 5%;" />
            }
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <h6 class="card-subtitle text-muted">@Model.Category.GetDisplayName()</h6>

                <p class="card-text mt-3">@Model.Description</p>
                <h6 class="card-subtitle mb-2 text-muted text-dark">Цена: @Model.Price р.</h6>
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary">К списку товаров</a>
            </div>
        </div>
    </div>
</div>







