@model ProductListViewModel

@{
    ViewData["Title"] = "Product List";

    string IsChecked(SelectListItem item)
    {
        if (Model.SelectedCategories.Any(sli => sli.Value == item.Value))
        {
            return "checked";
        }
        return "";
    }
}

<div class="container">

    <h2>Product List</h2>

    <div class="row mb-3">
        <div class="col-md-12">
            <form method="get" asp-controller="Product" asp-action="Index">

                <div class="input-group mb-3" id="search-group">
                    <input type="text" class="form-control" placeholder="Поиск" asp-for="SearchString">
                    <button class="btn btn-danger" type="button" id="search-clear">
                        <i class="fa fa-times"></i>
                    </button>
                    <button class="btn btn-primary" type="submit">Найти</button>
                </div>

                <div class="row">
                    @foreach (var category in Model.AllCategories)
                    {
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="categories" value="@category.Value" id="@category.Text" @IsChecked(category)>
                                <label class="form-check-label" for="@category.Text">@category.Text</label>
                            </div>
                        </div>
                    }
                </div>
                <button class="btn btn-danger mt-2" type="button" id="clear-categories">Сбросить</button>
            </form>
        </div>
    </div>



    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="~/images/@(product).png" alt="Load failed"
                     class="card-img-top mx-auto mt-4 w-50"
                     onerror="this.src='/images/NoPhoto.png'; this.onerror=null;">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <h6 class="card-subtitle">@product.Category.GetDisplayName()</h6>
                        <div class="d-flex justify-content-between mt-2">
                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">Детали</a>
                                <button type="button" class="btn btn-outline-primary">В корзину</button>
                                <button type="button" class="btn btn-outline-danger">
                                    <i class="far fa-heart"></i>
                                </button>
                            </div>
                            
                            <h5>@product.Price р.</h5>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#search-clear").click(function () {
                $("#search-group").find("input[type=text]").val("");
                setTimeout(() => {
                    $(this).blur();
                }, 100);
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#clear-categories").click(function () {
                $("input[type=checkbox][name=categories]").prop("checked", false);
                setTimeout(() => {
                    $(this).blur();
                }, 100);
            });
        });

    </script>
}
