@model SellerListViewModel

@{
    ViewData["Title"] = "Продавцы";
    int num = 1;
}

<h2>Список продавцов</h2>

<form asp-action="Index">
    <p>
        <label>Магазин: </label>
        <select name="shopId" asp-items="Model.Shops"></select>

        <input type="submit" value="Фильтр" />
    </p>
</form>

<table border="1">
    <thead>
        <tr>
            <th>№</th>
            <th>Логин</th>
            <th>Пароль</th>
            <th>Магазин</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var seller in Model.Sellers)
        {
            <tr>
                <td>@(num++)</td>
                <td>@seller.Login</td>
                <td>@seller.Password</td>
                <td>@seller.Shop!.Name</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@seller.Id">Изменить</a>
                </td>
                <td>
                    <form asp-action="Delete" method="post" asp-route-id="@seller.Id">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Shops.Count() > 1)
{
    <p>
        <a asp-action="Create">Добавить продавца</a>
    </p>
}

