@model Product

@{
    ViewData["Title"] = "Product Details";
}


<div class="row">
    <div class="col-md-6">
        <div id="product-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
               @* @if (Model.Photos.Any())
                {
                    @for (int i = 0; i < Model.Photos.Count; i++)
                    {
                        <button type="button" data-bs-target="#product-carousel" data-bs-slide-to="@i" class="@((i == 0) ? "active" : "")" aria-label="Slide @i"></button>
                    }
                }
            </div>
            <div class="carousel-inner">
                @if (Model.Photos.Any())
                {
                    @foreach (var photo in Model.Photos)
                    {
                        <div class="carousel-item @(photo == Model.Photos.First() ? "active" : "")">
                            <img src="data:image/png;base64,@Convert.ToBase64String(photo.Photo)" class="d-block w-100" alt="Product Photo" />
                        </div>
                    }
                }
                else
                {
                    <div class="carousel-item active">
                        <img src="~/images/NoPhoto.png" class="d-block w-100" alt="Loading failed" />
                    </div>
                }
            </div>
            @if (Model.Photos.Count > 1)
            {
                <button class="carousel-control-prev" type="button" data-bs-target="#product-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#product-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            }*@
        </div>
    </div>


    <div class="col-md-6">
        <h3>@(Html.DisplayNameFor(m => m.Name)):</h3>
        <p>@Model.Name</p>
        <h3>Description:</h3>
        <p>@Model.Description</p>
        <h3>Price:</h3>
        <p>@Model.Price</p>
        <h3>Category:</h3>
        <p>@Model.Category</p>
    </div>
</div>

