@model ProductListViewModel

@{
    ViewData["Title"] = "Товары";
    int num = 1;
}



<h2>Товары</h2>


<div class="row gx-3 mb-3 col-xl-6">
    <div class="col-8">
        <form asp-action="Index" method="get">
            <div class="input-group">
                <select class="form-select" asp-for="Category" asp-items="Model.Categories">
                    <option value="0">Все</option>
                </select>
                <button type="submit" class="btn btn-outline-primary">Фильтр</button>
            </div>
        </form>
    </div>
    <div class="col-4">
        <a class="btn btn-outline-primary" style="width: 100%;" asp-action="Save">Добавить товар</a>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>№</th>
            <th>
                @if (Model.Order == SortOrder.Name)
                {
                    <a asp-action="Index" asp-route-category="@Model.Category" asp-route-order="@SortOrder.NameDescending">
                        Название <i class="fa-solid fa-arrow-down-long"></i>
                    </a>
                }
                else if (Model.Order == SortOrder.NameDescending)
                {
                    <a asp-action="Index" asp-route-category="@Model.Category">
                        Название <i class="fa-solid fa-arrow-up-long"></i>
                    </a>
                }
                else
                {
                   <a asp-action="Index" asp-route-category="@Model.Category" asp-route-order="@SortOrder.Name">
                        Название
                    </a> 
                }
            </th>
            <th>
                @if (Model.Order == SortOrder.Price)
                {
                    <a asp-action="Index" asp-route-category="@Model.Category" asp-route-order="@SortOrder.PriceDescending">
                        Стоимость <i class="fa-solid fa-arrow-down-long"></i>
                    </a>
                }
                else if (Model.Order == SortOrder.PriceDescending)
                {
                    <a asp-action="Index" asp-route-category="@Model.Category">
                        Стоимость <i class="fa-solid fa-arrow-up-long"></i>
                    </a>
                }
                else
                {
                    <a asp-action="Index" asp-route-category="@Model.Category" asp-route-order="@SortOrder.Price">
                        Стоимость
                    </a>
                }
            </th>
            <th>
                @if (Model.Order == SortOrder.Category)
                {
                    <a asp-action="Index" asp-route-category="@Model.Category" asp-route-order="@SortOrder.CategoryDescending">
                        Категория <i class="fa-solid fa-arrow-down-long"></i>
                    </a>
                }
                else if (Model.Order == SortOrder.CategoryDescending)
                {
                    <a asp-action="Index" asp-route-category="@Model.Category">
                        Категория <i class="fa-solid fa-arrow-up-long"></i>
                    </a>
                }
                else
                {
                    <a asp-action="Index" asp-route-category="@Model.Category" asp-route-order="@SortOrder.Category">
                        Категория
                    </a>
                }
            </th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td class="col-1">@(num++)</td>
                <td class="col-4">@product.Name</td>
                <td class="col-3">@product.Price</td>
                <td class="col-3">@product.Category.GetDisplayName()</td>

                <td class="col-1">
                    <div class="dropdown">
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Операции
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-action="Details" asp-route-id="@product.Id">Детали</a></li>
                            <li><a class="dropdown-item" asp-action="Save" asp-route-id="@product.Id">Изменить</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form asp-action="Delete" method="post" asp-route-id="@product.Id">
                                    <input class="dropdown-item" type="submit" value="Удалить" />
                                </form>
                            </li>
                        </ul>
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>



