@model ProductListViewModel

@{
    ViewData["Title"] = "Товары";
    int num = 1;
}



<h2>@ViewData["Title"]</h2>
<hr/>

<div class="row mb-3 mt-1 gx-3 col-xl-6">
    <div class="col-auto">
        

        <form id="filter-form" asp-action="Index" method="get">
            <input type="hidden" asp-for="@Model.Order">
            <div class="input-group">
                <select id="category-select" class="form-select" asp-for="Category" asp-items="Model.Categories">
                    <option value="0">Все</option>
                </select>
                <button class="btn btn-outline-danger" type="button" id="filter-clear">
                    <i class="fa-solid fa-arrow-rotate-right"></i>
                </button>
            </div>
        </form>
        
    </div>
    <div class="col-auto">
        <a class="btn btn-outline-primary" style="width: 100%;" asp-action="Save">Добавить</a>
    </div>
</div>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>№</th>
            <th>
                @if (Model.Order == SortOrder.Name)
                {
                    <a asp-action="Index" asp-route-category="@Model.Category" asp-route-order="@SortOrder.NameDescending">
                        Название <i class="fa-solid fa-arrow-up-long"></i>
                    </a>
                }
                else if (Model.Order == SortOrder.NameDescending)
                {
                    <a asp-action="Index" asp-route-category="@Model.Category">
                        Название <i class="fa-solid fa-arrow-down-long"></i>
                    </a>
                }
                else
                {
                   <a asp-action="Index" asp-route-category="@Model.Category" asp-route-order="@SortOrder.Name">
                        Название
                    </a> 
                }
            </th>
            <th>
                @if (Model.Order == SortOrder.Price)
                {
                    <a asp-action="Index" asp-route-category="@Model.Category" asp-route-order="@SortOrder.PriceDescending">
                        Стоимость <i class="fa-solid fa-arrow-up-long"></i>
                    </a>
                }
                else if (Model.Order == SortOrder.PriceDescending)
                {
                    <a asp-action="Index" asp-route-category="@Model.Category">
                        Стоимость <i class="fa-solid fa-arrow-down-long"></i>
                    </a>
                }
                else
                {
                    <a asp-action="Index" asp-route-category="@Model.Category" asp-route-order="@SortOrder.Price">
                        Стоимость
                    </a>
                }
            </th>
            <th>
                @if (Model.Order == SortOrder.Quantity)
                {
                    <a asp-action="Index" asp-route-category="@Model.Category" asp-route-order="@SortOrder.QuantityDescending">
                        Количество <i class="fa-solid fa-arrow-up-long"></i>
                    </a>
                }
                else if (Model.Order == SortOrder.QuantityDescending)
                {
                    <a asp-action="Index" asp-route-category="@Model.Category">
                        Количество <i class="fa-solid fa-arrow-down-long"></i>
                    </a>
                }
                else
                {
                    <a asp-action="Index" asp-route-category="@Model.Category" asp-route-order="@SortOrder.Quantity">
                        Количество
                    </a>
                }
            </th>
            <th>
                @if (Model.Order == SortOrder.Category)
                {
                    <a asp-action="Index" asp-route-category="@Model.Category" asp-route-order="@SortOrder.CategoryDescending">
                        Категория <i class="fa-solid fa-arrow-up-long"></i>
                    </a>
                }
                else if (Model.Order == SortOrder.CategoryDescending)
                {
                    <a asp-action="Index" asp-route-category="@Model.Category">
                        Категория <i class="fa-solid fa-arrow-down-long"></i>
                    </a>
                }
                else
                {
                    <a asp-action="Index" asp-route-category="@Model.Category" asp-route-order="@SortOrder.Category">
                        Категория
                    </a>
                }
            </th>
            <th colspan="2">Операции</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td class="col-1">@(num++)</td>
                <td class="col-3">@product.Name</td>
                <td class="col-2">@product.Price</td>
                <td class="col-2">@product.Quantity</td>
                <td class="col-2">@product.Category.GetDisplayName()</td>

                <td class="col-1">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-outline-primary" asp-action="Save" asp-route-id="@product.Id">Изменить</a>
                    </div>
                </td>
                <td class="col-1">
                    <div class="d-flex justify-content-center">
                        <form asp-action="Delete" method="post" asp-route-id="@product.Id">
                            <input type="submit" class="btn btn-outline-danger" value="Удалить" />
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#category-select').change(function () {
                $('#filter-form').submit();
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#filter-clear').click(function () {
                $('#category-select').val('0');
                $('input[name="Order"]').val('0');
                $('#filter-form').submit();
            });
        });

    </script>
}