@model Shop

@{
    var title = "Details";
    ViewData["Title"] = title;
}

<h2>@title</h2>


<div>
    <p>
        <label asp-for="Name"></label>
        @Html.DisplayFor(model => model.Name)
    </p>
    <p>
        <label asp-for="Description"></label>
        <textarea readonly asp-for="Description" class="form-control"></textarea>
    </p>

    <div style="margin: 10px 0px;">
        <form asp-controller="Product" asp-action="Index" asp-route-id="@Model.Id" method="get">
            <input type="submit" value="Товары" />
        </form>
    </div>

    <div style="display: flex; gap: 10px;">
        <form asp-action="Save" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="submit" value="Изменить" />
        </form>

        <form asp-action="Delete" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="submit" value="Удалить" />
        </form>
    </div>

    <p>
        <a asp-action="Index">Cancel</a>
    </p>

</div>


<div asp-validation-summary="All"></div>