@model ShopListViewModel

@{
    ViewData["Title"] = "Магазины";
    int num = 1;
}

<h2>@ViewData["Title"]</h2>


<div class="row mb-2 mt-1 gx-2 col-xl-6">
    <div class="col-auto">
        <form asp-action="Index" id="search-form">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Название" asp-for="@Model.Name" id="search-input">
                <button class="btn btn-outline-danger" type="button" id="search-clear">
                    <i class="fa-solid fa-arrow-rotate-right"></i>
                </button>
                <button class="btn btn-outline-primary" type="submit">Найти</button>
            </div>
        </form>
    </div>

    <div class="col-auto">
        <a class="btn btn-outline-primary" asp-action="Save">Добавить</a>
    </div>
</div>


<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Описание</th>
            <th colspan="3">Операции</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shop in Model.Shops)
        {
            <tr>
                <td class="col-1">@(num++)</td>
                <td class="col-2">@shop.Name</td>
                <td class="col-6"><textarea readonly class="form-control">@shop.Description</textarea></td>


                <td class="col-1">
                    <div class="d-flex justify-content-center">
                       <a class="btn btn-outline-primary" asp-action="Save" asp-route-id="@shop.Id">Изменить</a>
                    </div>
                </td>
                <td class="col-1">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index" asp-route-shopId="@shop.Id">Товары</a>
                    </div>
                </td>
                <td class="col-1">
                    <div class="d-flex justify-content-center">
                        <form asp-action="Delete" method="post" asp-route-id="@shop.Id">
                            <input type="submit" class="btn btn-outline-danger" value="Удалить" />
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('#search-clear').click(function () {
                $('#search-input').val('');
                $('#search-form').submit();
            });
        });

    </script>
}