@model ShopListViewModel

@{
    ViewData["Title"] = "Магазины";
    int num = 1;
}

<h2>Список магазинов</h2>

<form asp-action="Index">
    <p>
        <label>Название: </label>
        <input asp-for="@Model.Name" />

        <input type="submit" value="Фильтр" />
    </p>
</form>

<table border="1">
    <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Описание</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shop in Model.Shops)
        {
            <tr>
                <td>@(num++)</td>
                <td>@shop.Name</td>
                <td><textarea readonly>@shop.Description</textarea></td>

                <td>
                    <a asp-action="Save" asp-route-id="@shop.Id">Изменить</a>
                </td>
                <td>
                    <form asp-action="Delete" method="post" asp-route-id="@shop.Id">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
                <td>
                    <a asp-controller="Product" asp-action="Index" asp-route-shopId="@shop.Id">Товары</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Save">Добавить магазин</a>
</p>